*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a{
	list-style-type: none;
	color: #757575;
	
}
body{
	margin: 50px 70px;
	background-color: #ddd;
}
.menu{
	position: relative;
	width: 230px;
	height: 385px;
	background: #fff;
}
.menu > ul > li{
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 230px;
    font-family: Roboto-Regular;
    font-size: 17px;
    line-height: 28px;
    color: #757575;
    cursor: pointer;
}
.menu li a{
	padding-right: 5px;
}
.menu > ul li:hover {
	color: #1a9cb7;
	background: #d7f1f7;
}
.menu .conten{
	display: none;
	position: absolute;
	list-style-type: none;
	width: 230px;
	height: 385px;
	background-color: #fff;
	box-shadow: 1px 0px 9px #666;
    font-family: Roboto-Regular;
    font-size: 17px;
    line-height: 28px;
    color: #757575;
    cursor: pointer;
	color: #757575;
    right: -229px;
    top: 0px;
}
.menu .conten li{
	width: 230px;
    font-family: Roboto-Regular;
    font-size: 17px;
    line-height: 27px;
    color: #757575;
    cursor: pointer;
	color: #757575;

}
.menu li:hover .conten{
	display: block;
}