*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
.conter{
	width: 835px;
	height: 1000px;
	margin: 0 auto;
	background: #f3f0f078;

}
.conter div {
	display: inline-block;
}
h1{
	border-left: 5px solid red;
	font-size: 48px;
	font-weight: bold;
	padding-left: 20px;
	padding-top:10px;
	padding-bottom:10px;
	color: #fff;
	background-color: #5f5a5a94;
}
img {
	width: 400px;
	height: 400px;
	padding-top:5px;
}
div .im2{
	padding-top: 15px;
	padding-left: 15px;
}
.tel{
	width: 400px;
	height: 400px;
	padding-left: 15px;
	padding-top: 5px;
}
.tel2{
	width: 400px;
	height: 400px;
	padding-top: 5px;
}
p{
		border-left: 5px red solid;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #0000009c;
	color: #fff;
}
h2{
		border-left: 5px red solid;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	background: #0000009c;
	color: #fff;
}
.bk{

	background-image: url('../img/nne.jpg');
	background-size: cover;
	height: 400px;
	background-position: center center;
}
a{
  text-decoration: none;
}
li {
  list-style-type: none;
}
.menu{
  line-height: 1.5;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.menu ul{
  margin:0 auto;
  width: 866px;
  height: 53px;
  background: #f7f7f700;
}
.menu ul li a{
  color: #fff;
  display: block;
  transition: 0.3s;
  height: 52px;
  width: 120px;
  padding-top: 15px;
  text-align: center;
}
li{
  display: inline-block;
}
.tr{
	position: relative;
}
.menu .sub-menu{
  display: none;
  list-style-type: none;
  position: absolute;
  top: 52px;
  left: -1px;
  background-color: #f7f7f700;
  height: 313px;
  width: 121px;
  padding-right: 15px;
}
.menu > ul > li > a:hover {
    border-bottom: 2px solid #fff;
    background-color: #3e3b3bad;
    color: #fff;
}
.menu li:hover>.sub-menu{
  display: block;
}
 .menu > ul > li > ul.sub-menu li a:hover {
   background-color: #3e3b3bad;
    color: #fff;
  border-left: 2px solid #fff;
}