*{
	padding: 0;
	margin: 0;
}
img{
	width: 200px;
	height: 200px;
}
.tim {
	margin: 200px 50%;
	display: block;
	position: absolute;
	transform: scale(.5,.5);
	animation: dap 2s ease infinite
}

@keyframes dap {
	90% {
		transform: scale(.8,.8)
	}
	100% {
		transform: scale(1,1)
	}
}	