*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    width: 100px;
    height: 50px;
    margin: 0 auto;
}
.nav {
    width: 100px;
    height: 130px;
    background-color: #ddd;
}
.nav li{
    width: 100px;
    height: 20px;
    list-style-type: none;
    margin-top: 5px;
}
.nav a{
    text-decoration: none;
    color: black;
}
.nav li:hover{
    background-color: blue;
}
.wrapper {
    width: 960px;
    padding: 1em 3% 1em 3%;
    margin: 0 auto 1em auto;
    display: grid;
    grid-template-columns: 200px 40px auto 40px 200px;
    grid-template-rows: auto ;
}
 
.content {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
.mainnav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
 
.subhead {
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 3;
    grid-column-end: 4;
}
 
.quote {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}
footer{
    margin: 0 auto;
    width: 1000px;
    color: black;
    background-color: #ddd;
    text-align: center;
    height: 40px;
}
footer p {
    padding-top: 10px;
}