*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
}
li {
  list-style-type: none;
}
#menu{
  width: 100%;
  position: relative;
  line-height: 1.5;
  font-family: Roboto,sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#menu ul{
  margin:0 auto;
  width: 864px;
  height: 54px;
  background: #f7f7f7;
}
#menu ul li a{
  color: #a6a6ab;
  display: block;
  transition: 0.3s;
  height: 52px;
  width: 120px;
  padding-top: 15px;
  text-align: center;
}
li{
  display: inline-block;
}

#menu .sub-menu{
  display: none;
  list-style-type: none;
  position: absolute;
  top: 52px;
  left: 253px;
  background-color: #ddd;
  background: #f7f7f7;
  height: 313px;
  width: 121px;
  padding-right: 15px;
}
#menu > ul > li > a:hover {
    border-bottom: 2px solid #65509e;
    color: #65509e;
}
#menu li:hover>.sub-menu{
  display: block;
}
 #menu > ul > li > ul.sub-menu li a:hover {
  color: #65509e;
  background-color: #d2d1d1;
  border-left: 2px solid #65509e;
}