  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.wrapper {
  width: 30%;
  margin: 40px auto;
}

div.gallery {
  display: inline-grid;
}

div.gallery ul {
  list-style-type: none;
  margin-left: 35px;
}
div.gallery ul li, div.gallery li img {
    transition: 0.5s;
    transition-timing-function: linear;
}

div.gallery ul li {
  position: relative;
  float: left;
  width: 130px;
  height: 130px;
  margin: 5px;
  padding: 5px;
  z-index: 0;
}
div.gallery ul li:hover {
  z-index: 1;
}
div.gallery ul li img {
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid #dddddd;
  border-radius: 15px;
  padding: 5px;
  width: 130px;
  height: 130px;
  background: #f0f0f0;
}

div.gallery ul li img:hover {
  width: 200px;
  height: 200px;
  margin-top: -130px;
  margin-left: -130px;
  top: 65%;
  left: 65%;
}
