*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}
header{
	display: flex;
	height: 90px;
	width: 80%;
	margin: auto;
	align-items: center;
}
.logo-nav,.menu,.dk{
	display: flex;
}
.logo{
	margin-left: 14px;
	margin-top:5px;
	color: #5f5f79;
}
.logo-nav{
	flex: 1;
}
nav{
	flex: 2;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.menu{
	justify-content: space-around;
	color: #5f5f79;

}
.dk{
	flex: 1;
	justify-content: flex-end;
}
.ven{
	padding-top: 5px;
	padding-left: 15px;
	border: 1px solid #383030;
	height: 40px;
	width: 150px;
	color: #5f5f79;
	transition: 0.5s;
}
div:hover .ven{
	background-color: black;
	color: #fff;
}
